<link rel="stylesheet" href="/css/customer.css">
    
    <div id = "customerForm">
        <h2> Find Location </h2>
       <form action = "/customer/find" method="post" class = "form-container">
      
             <label for = "name">
                Name
            </label>
            <input type="name" name = "name" id = "name" required>

  
            <label for = "Location">
                Location
            </label>
            <input type = "text" name = "Location" id = "Location">
      
            <button type = "submit" style = " background-color: green;"> Find Location </button>

       </form>
    </div>



