<link rel="stylesheet" href="/css/owner.css">

<div id = "customerForm">
  <h2> Updating Location </h2>
    <form action="/owner/create" method="POST" enctype="multipart/form-data">
        <label for="Your Name">Your name:</label><br>
        <input type="text" id="fname" name="name"><br>

        <label for="Location">Location:</label><br>
        <input type="text" id="Location" name="location"><br/>

        <label for="Area">Area :</label><br>
        <input type="text" id="area" name="area"><br/>

        <label for="Space">Space :</label><br>
        <input type="number" id="Space" name="space"><br/><br/>

        <label for ="avatar"> Location-Image :</label><br>
        <input type="file" id="Location-Image" name="avatar" placeholder = "Location-Image" style="margin-left: 150px;" required><br/>

        <input type="submit" value = "Post" class = "button">
      </form>
</div>



