<link rel="stylesheet" href="/css/customer.css">
<h1> sign up</h1>

<div id = "form-home-page">
<form action="/user/create" method="POST">
    <input type="text" name = "name" placeholder="Your Name" class = "lab-containe" required><br>
    <input type="email" name = "email" placeholder="Your Email" class = "lab-containe" required><br>
    <input type="password" name = "password" placeholder="Your Password" class = "lab-containe" required><br>
    <input type="password" name = "confirm_password" placeholder="Confirm Password" class = "lab-containe" required><br>
    <input type="submit" value = "Sign Up" class = "button"><br>
</form>
</div>