<link rel="stylesheet" href="/css/customer.css">

<h3> SIGN IN</h3>
<div id = "form-home-page">
<form action="/user/create-session" method="POST">

   <input type="email" name = "email" placeholder="Your Email" class = "lab-containe"required><br>
   <input type="password" name = "password" placeholder="Your Password" class = "lab-containe" required><br>
   <input type="submit" value = "Sign In" class = "button">
</form>

</div>

